<%= render "restaurants/navbar" %>

<h1>Welcome to Yelp MVP</h1>
<h2>Here are all restaurants</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
